<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>
    <!--    <div class="alert alert-danger"><%= message %></div> -->
    
    <!-- Signup FORM -->
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" formControlName = "email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" formControlName = "password">
        </div>

        <button type="submit"  class="btn btn-warning btn-lg" [disabled]="!signupForm.valid">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a routerLink="/signin">Login</a></p>
    <p>Or go <a routerLink="/">home</a>.</p>

</div>
</div>